@font-face {
	font-family: JetBrainsMonoNL;
	src: url(fonts/JetBrains_Mono_NL_Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: JetBrainsMonoNL;
}

a {
	color: #cfe5ff;
	text-decoration: none;
}

a:hover {
	color: #ff8e42;
}

p {
	padding-bottom: 20px;
}

ul {
	color: white;
	list-style-position: inside;
	padding-bottom: 20px;
}

body {
	background-color: #292929;
}

#header {
	padding: 0px;
	text-align: center;
	background-color: #242424;
	height: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header h1 {
	color:white;
}

#header h3 {
	color: #cfe5ff;
}

#header h3 span {
	color: white;
}

#content {
	position: relative;
	top: 60px;
	left: 200px;
	width: calc(100% - 200px - 100px);
}

#content p {
	color: white;
}

#content details {
	color: white;
}

#content h1 {
	padding-bottom: 10px;
}

/* ==== Blog ==== */

#content #blogcontent {
	color: white;
}

#content #contentpgpbegin {
	display: none;
	color: white;
}

#content #contentpgpend {
	display: none;
	color: white;
}

#content #pgp_toggle {
	float: right;
}

/* ==== Slider ==== /*

/* The box around the slider. */
#content .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox. */
#content .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider. */
#content .switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #242424;
	border-radius: 34px;
}

#content .switch .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #cfe5ff;
	border-radius: 50%;
}

#content .switch input:checked + .slider {
	background-color: #2196F3;
}

#content .switch input:focus + .slider {
	box-shadow: 0 0 0px #2196F3;
}

#content .switch input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
