@font-face {
	font-family: JetBrainsMonoNL;
	src: url(JetBrains_Mono_NL_Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: JetBrainsMonoNL;
}

a {
	color: #cfe5ff;
	text-decoration: none;
}

a:hover {
	color: #ff8e42;
}

p {
	padding-bottom: 20px;
}

ul {
	color: white;
	list-style-position: inside;
	padding-bottom: 20px;
}

body {
	background-color: #292929;
}

.header {
	padding: 0px;
	text-align: center;
	background-color: #242424;
	height: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header h1 {
	color:white;
}

.header h3 {
	color: #cfe5ff;
}

.header h3 span {
	color: white;
}

.content {
	position: relative;
	top: 60px;
	left: 200px;
	width: calc(100% - 200px - 100px);
}

.content p {
	color: white;
}
